{% extends 'core/base.html' %}

{% block title %}Acerca de mi{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Alberto</h1>
    <span class="subheading">Autodidacta</span>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Alberto</h2>   
        <p>Nacido en...</p>
        <p>...</p>
    </div>
</div>
{% endblock %}

